<!-- Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. -->
<!-- SPDX-License-Identifier: MIT-0 -->

<template>
  <div class="about">
    <h3>This is a sample demo for ThreadResearch</h3>
    <h3>How are you All ?</h3>
    
  </div>
</template>

<style scoped>

h3, h4, p, a {
  text-shadow: gray;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
}

.about {
  padding: 60px;
}

</style>
